body {
    width: 100%;
    margin: 0;
    font-family: "Lora", Arial, serif;
    background-color: #f6f6f6;
}  
.navmenu {  
    background-color: #f6f6f6;
    position: relative;
    width: 100%;  
    top: 0;
    height: 50px;  
    display: flex;  
    flex-direction: row;
    align-items: center;  
    box-shadow: 0 0 20px 0 black;  
    z-index: 2;
} 
.logo {
    margin: 10px 10px 10px 13px;
}
.afzco {
    margin: auto; 
    padding-top: 100px;
    left: 0; 
    right: 0; 
    margin: auto; 
    z-index: 1; 
    position: absolute;
}
.back {
    left: 0; 
    right: 0; 
    margin: auto; 
    padding-top: 100px; 
    display: block; 
    z-index: 0;
}
nav {
    font-size: 20px;
    text-align: center;
}
.cdiv {
    flex: 2;
}
.cdiv p {
    text-align: right;
    margin-right: 3vh;
}
.toleft {
    margin-right: 20vh;
}
.toleft p {
    text-align: left;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 3px;
}
.toleft a {
    color: inherit;
}
.main {
    padding-top: 50px;
    background-size: cover;
    width: 100%;
    align-content: center;
    height: 250px;
    background-image: url("img/pipelines.jpg");
    background-position: center;
    background-blend-mode: darken;
}
.box {
    display: flex;
    justify-content: center;
    margin: 0 25% 150px 25%;
}
.box1 {
    flex: 1;
    background: #fbfbfb;
    display: block;
    height: auto;
    float: right;
    margin: 1px 0 0 1px;
    padding: 40px;
    transition: all ease-out 0.2s;
}
.box2 {
    flex: 1;
    background: #fbfbfb;
    display: block;
    height: auto;
    float: left;
    margin: 1px 0 0 1px;
    padding: 40px;
    transition: all ease-out 0.2s;
}
.about {
    flex: 1;
    max-width: 974px;
    margin: 0 auto;
    font-size: 20px;
    padding: 40px;
}
.li1 {
    padding-bottom: 10px;
}
.box1:hover {
    background: #ffffff;
}
.box2:hover {
    background: #ffffff;
}
.boximg {
    width: 100%;
    height: 80px;
    object-fit: cover;
}
.hide1 {
    display: none;
}
.hide2 {
    display: none;
}
button {
    background-color: #3c3ac2;
    color: aliceblue;
    border: none;
    padding: 8px 10px;
    margin-left: 85%;
}
button:hover {
    background-color: #5e5cd4;
}
.grid {
    display: grid;
}
.grid #gasImg1 {
    max-width: 200px;
    height: 120px;
    grid-column: 1; 
    grid-row: 1;
}
.grid #gasImg2 {
    max-width: 200px;
    height: 120px;
    grid-column: 1; 
    grid-row: 2;
}
.grid #gasImg3 {
    max-width: 100px;
    max-height: 100px;
    justify-self: center;
    margin-right: 20px;
    grid-column: 2; 
    grid-row: 1;
}
.grid #gasImg4 {
    max-width: 160px;
    height: 90px;
    grid-column: 2; 
    grid-row: 2; 
    align-self: center;
}
.footer {
    font-size: 1em;
    color: rgb(196, 196, 196);
    display: grid;
    background-color: #1a1a1a;
    bottom: 0;
    padding-left: 7%;
    padding-right: 15%;
}
.footer p {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(196, 196, 196);
    margin-bottom: 0;
}
.footer strong {
    grid-row: 1; 
    text-decoration: underline; 
    font-size: 20px; 
    padding-top: 20px;
}
.footer a {
    color: rgb(224, 224, 224);
}
.footer #adress {
    grid-row: 2; grid-column: 1;
}
.footer #tel {
    grid-row: 3; grid-column: 2;
}
.footer #crn {
    grid-row: 2; grid-column: 2;
}
.footer #mail {
    word-break: break-all;
    grid-row: 3; grid-column: 1;
}
.footer #cr {
    grid-row: 4; grid-column: 2;
}